$light-gray: #F2F2F2;
$dark-blue: #282136;

$base-font: "Source Sans Pro", sans-serif;
$base-font-size: 14px;
$base-line-height: 24px;
$base-font-weight: 400;
$base-font-color: $dark-blue;

$body-background-color: $light-gray;
